html {
  height: 100%;
  width: 100%;
}
body {
    background: #30dfd3;
    color: #e70d0d;
    max-width: 960px;
    margin: auto;
    padding: 0px 20px;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 0px 70px 0px;
    font-size: 48px;
}

.todo {
    background: #09ec95;
    font-size: 24px;
    margin: 15px 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.todo:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.done {
  text-decoration: line-through;
  color: grey;
}


